{{>header}}
{{>navbar}}

  <div class="container-fluid  d-flex align-items-center justify-content-center">
    <img src="../public/assets/images/page-not-found.svg" class="img-fluid" alt="Page Not Found" width="400">
    
  </div>

{{>footer}}