{{>header}}
{{>navbar}}

  <div class="container-fluid  d-flex align-items-center justify-content-center">
    <div class="container-form">
      <p class="h2 text-center mb-4">Edit Post Blog</p>

      <form action="/update-blog" method="post">
        <div class="mb-3">
          <label for="updateTitle" class="form-label">Title</label>
          <input name="updateTitle" type="text" class="form-control" id="updateTitle" aria-describedby="emailHelp" value=" {{blog.title}} ">
        </div>
        <div class="mb-3">
          <label for="updateContent" class="form-label">Content</label>
          <textarea name="updateContent" id="updateContent" class="form-control" rows="4"  >{{blog.content}}</textarea>
        </div>
        <div class="mb-3">
          <label for="input-image" class="form-label">Upload Image</label>
          <input name="input-image" class="form-control" type="file" id="input-image">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn bg-orange text-white">Edit Post</button>
        </div>
      </form>

    </div>
  </div>

{{>footer}}
